@font-face {
	font-family: 'Droid Sans';
	font-weight: normal;
	src: url(../fonts/DroidSans.ttf); 
}

@font-face {
	font-family: 'Droid Sans';
	font-weight: bold;
	src: url(../fonts/DroidSans-Bold.ttf); 
}

html, body{
	font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
	background: white;

}

.wrapper{
	margin: 0 auto;
	width:270px;
	height: 520px;
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px; 
	border: 2px solid #666;
	position: relative;
}

.title{
	margin-top: 10px;
}

.arc path {
	stroke: #fff;
}

.arc{

	stroke: #fff;
}

p{
	font-size: 12px;
}

a{text-decoration: none;
	color: olive;
	font-size: 12px;
}

h1{
	text-align: center;
	font-size: 16px;
}

h2{
	text-align: center;
	font-size: 14px;
}

.pie, .ui-menu-item{
	cursor: pointer;
}
#table-body{
	margin: 10px 10px 0px 10px;
}
#table-body table{
	margin: auto;
}
/*#chart svg{
width:100% ; margin:0px auto;
}*/
#chart svg{
	margin:0px auto;
	display: block;
}
table td{
	font-size: 12px;
	padding-left: 8px;
	text-align: right;
}

table td:nth-child(2){
	font-size: 12px;
	padding-left: 8px;
	text-align: left;
}

table td:first-child{
	width: 6px;
	border-bottom: 2px solid white;
}

#footer{
	position: absolute;
	bottom: -30px;
	width: 100%;
}

#logo-area{
	position: absolute;
	left: 170px;
	bottom: 40px;
}

#logo{
	float: left;
	background: url("../images/developfor.jpg")no-repeat;
	background-size:91px auto;
	background-repeat:no-repeat;
	height: 19px;
	width: 90px;
	text-indent: -9999px; 
}

#info-area{
	position: absolute;
	left: 5px;
	bottom: 60px;

}


#info-button{
	cursor: pointer;
	float: left;
	background: url("../images/info-button.png")no-repeat scroll transparent;
	background-size:75px auto;
	height: 35px;
	width: 35px;
	text-indent: -9999px;
	position: absolute;
	top: -6px;
	left: 4px;
}

#info-button:hover{
	background-position: -42px -0.5px;
}

#embed-button{
	float: left;
	cursor: pointer;
	position: absolute;
	left:50px;
	bottom: 38px;
	font-style: bold;

	cursor: pointer;
	outline: none; 
	background-color:#EBEBEB;

	border:1px solid #666;
	/*display:inline-block;*/
	color:#000000;

	font-size:14px;
	font-weight:normal;
	font-style:normal;
	height:40px;
	line-height:10px;
	width:80px;
	text-decoration:none;

}

#info-close, #embed-close{
	cursor: pointer;
	height: 30px;
	text-align: center;
	margin: 15px;
	line-height: 30px;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#info-close:hover, #embed-close:hover{
	background: #FBB03B;
}

#info {
	position:absolute;
	bottom: 64px;
	width: 100%;
	padding-bottom:2%;
	z-index: 100;
}

#info p{
	margin-top: 6px;
	font-size: 12px;
}
#info-dropdown{
	height: 405px;
	display:none;
	background-color: #666;
	color:white;
	padding-top: 2px;
	padding-left: 14px;
	padding-right: 14px;
	padding-bottom: 15px;
/*	-webkit-border-top-left-radius: 12px;
	-webkit-border-top-right-radius: 12px;
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-topright: 12px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;*/
}

#embed-text{
	display: none;
}
#embed-button{
	position: absolute;
	left: 45px;
	bottom: 40px;
	cursor: pointer;
	outline: none;
	background-color: #2E5879;
	border: none;

	height:20px;
	line-height:10px;
	width:80px;
	text-decoration: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

}
#embed-button p{
	font-size: 12px;
	color: white;
	/*font-weight: bold;*/

	font-style: normal;
	font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
}

#embed-button:hover{
	/*color: #FBB03B;*/
	background-color: #ffac4d;
}

.embed-code{
	background-color: #F1F1F1;
	font-size: 11px;
	margin-top: 5px;
	padding: 5px;
	color: #000;
}

#source{
	margin-top: 8px;
	font-size: 11px;
}

#source a{
	margin-left: 4px;
	font-size: 12px;
	text-decoration: none;
	color: white;
}

#source a:hover{
	margin-left: 4px;
	font-size: 12px;
	text-decoration: none;
	color: #FBB03B;
}

.title-header h1{
	font-size: 30px;
	color: white;
	line-height: 50px;
}

.buttons-box{
	width:100%;
	margin:0px auto;
	text-align:center;
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
}

.button{
	cursor: pointer;
	outline: none; 
	background-color:#EBEBEB;
	text-indent:0px;
	border:1px solid #C7C7C7;
	/*display:inline-block;*/
	color:#000000;

	font-size:12px;
	font-weight:normal;
	font-style:normal;
	height:20px;
	line-height:10px;
	width:80px;
	text-decoration:none;



	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px; 
}
.button:hover {
	background-color:#2E5879;
	
	border:1px solid #2E5879;
	color: white;
}

.button-select{
	background-color:#2E5879;
	border:1px solid #2E5879;
	color: white;

}